    
/* montserrat-700 - latin */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Montserrat/fonts/montserrat-bold.woff),
  url(../fonts/Montserrat/fonts/montserrat-bold.woff2);
}


/* roboto-slab-regular - latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Roboto/fonts/roboto-v20-latin-300.woff),
  url(../fonts/Roboto/fonts/roboto-v20-latin-300.woff2);
  
}